apiVersion: apps/v1
kind: Deployment
metadata:
  name: helmmec-deployment
  labels:
    app: helmmec
spec:
  selector:
    matchLabels:
      app: helmmec
  template:
    metadata:
      labels:
        app: helmmec
    spec:
      serviceAccount: helmmec
      containers:
      - name: helmmec
        image: localhost:5000/helmmec
        imagePullPolicy: Always
        ports:
        - containerPort: 80